
@font-face { 

    font-family: 'Speeday';
    src: url("Speeday-Bold-FFP.ttf");

    font-family: 'Snasm';
    src: url("Snasm-W00-Italic.ttf");

    font-family: 'Inter';
    src: url("Inter-ExtraBold.otf");

}

@media print {
    * {
        background: transparent;
        color: black;
        margin: 0px;
        padding: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    br {
        display: none;
    }

    .navigation, 
    .navigation .navbar, 
    img, 
    .container .photo p, 
    .container h4 {
        display: none;
    }
    
    .header {
        margin-top: none;
        padding-top: none;
        padding-bottom: none;
    }

    .container h4 {
        padding-top: none;
    }

    .header h1 {
        font-family: 'SnasmW00-Italic';
        font-size: 20px;
        color: black;
        padding: none;
    }

    p {
        font-size: 10px;
        padding-bottom: 15px;
    }

    h3 {
        font-size: 10px;
    }
    .container .about h3 {
        font-size: 15px;
    }

    .container .about blockquote {
        font-size: 40px;
        line-height: 45px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer {
        padding-top: 0px;
    }

}





* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    text-decoration: underline;
}

.navigation .navbar ul li a:active {
    text-decoration: underline;
}

body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 100vh;
}

.header {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    text-decoration: none !important;
}

.navigation {
    position: fixed;
    grid-column-start: 1;
    text-align: left;
    padding-left: 75px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 50px;
    font-family: 'HelveticaNeue-Bold';
    color: black;
    font-size: 20px;
}

ul {
    list-style-type: none;
    color: black;
}

h1 {
    font-family: 'SnasmW00-Italic';
    text-decoration: none !important;
    font-size: 40px;
}

.container {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.container h3 {
    font-family: 'Arial Black';
    letter-spacing: -2px;
    font-size: 4.5vw;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    line-height: 60px;
    padding-bottom: 0px;
}

.container h3:after {
    content: "";
    display: inline-block;
    width: 100%;

}

.container h4 {
    font-family: 'Arial Black';
    font-size: 35px;
    letter-spacing: -1px;

}

.container h5 {
    font-family: 'Arial Black';
    font-size: 25px;
    letter-spacing: -1px;
    text-align: center;

}

.container .photo img {
    width: 45vw;
    text-align: center;
    padding-top: 0px;

}

.container p {
    font-family: 'HelveticaNeue-Bold';
    text-align: center
}

.container .favs {
    padding-top: 65px;
}

.container blockquote {
    padding-top: 50px;
    font-size: 60px;
    padding-bottom: 50px;
    font-family: 'Arial Black';
    line-height: 60px;
}

.container .links a {
    font-family: 'HelveticaNeue-Bold';
    font-size: 25px;
}

.footer 
{
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    float: bottom;
    grid-row-start: 6;
    font-family: 'HelveticaNeue-Bold';
    padding-bottom: 15px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: grey;
}

.footer img {
    width: 75px;
    padding-bottom: 8px;
}

.footer img:hover {
    opacity: 85%;
}



