@font-face { 
    font-family: Speeday;
    src: url("Speeday-Bold-FFP.ttf");

    font-family: Snasm;
    src: url("SnasmW00-Italic.ttf");

}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none !important;
}

body {
    background-color: white;
}

a:link {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

.header {
    margin-top:2.5vh;
    grid-column-start: 2;
    text-align: center;
    padding-top: 30.5px;
    text-decoration: none !important;
    color: green;
}

.navigation {
    position: fixed;
    grid-column-start: 1;
    text-align: left;
    padding-left: 75px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 30.5px;
    font-family: 'HelveticaNeue-Bold';
    mix-blend-mode: difference;
    font-size: 20px;
    z-index: 100;
}

ul {
    list-style-type: none;
}

.navigation a {
    color: white;
}

.navigation a:hover {
    color: grey;
}

h1 {
    font-family: 'SnasmW00-Italic';
    text-decoration: none !important;
    font-size: 40px;
    padding-bottom: none;
}

.container {
    grid-column-start: 2;
    grid-column-end: 6;
}

.container p {
    font-family: 'HelveticaNeue-Bold';
    text-align: justify;
}

.container img {
    padding: 50px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5vw;
    padding-left:20vw;
    padding-right:20vw;
    padding-bottom: none;
    margin: none;
}

.gallery img {
    margin: 0 auto;
    padding: 0px;
    height: 630px;
    width: 420px;
} 

.gallerytext p {
    font-family: 'Arial Black';
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    line-height: 25px;
    letter-spacing: -1px;
}

.projectphotos img {
    margin: 0 auto;
    padding: 0px;
    height: 50%;
    width: 50%;
}


.projectphotos img:hover {
    opacity: 90%;
}

.projecttext {
    margin: none;
    padding-top: 65px;
    padding-bottom: 30px;
}

.projecttext h5 {
    font-size: 35px;
    line-height: 40px;
}

h2 {
    font-family: 'Arial-Black';
    font-size: 50px;
    letter-spacing: -4px;
    text-align: center;
    color: #2c2151;
    padding-top: 50px;
    line-height: 50px;
}

.header h2 {
    padding-top: 0px;
    padding-bottom: none;
    margin: none;
}

h3 {
    font-family: 'Arial-Black';
    font-size: 35px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 40px;
    letter-spacing: -1px;
    line-height: 40px;
    color: rgb(158, 158, 158);

}

h5 {
    font-family: 'Arial-Black';
    font-size: 15px;
    text-align: center;
    padding-top: 0px;
    letter-spacing: -1px;
}

.footer {
    grid-column-start: 2;
    text-align: center;
    float: bottom;
    grid-row-start: 6;
    font-family: 'HelveticaNeue-Bold';
    padding-bottom: 50px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: grey;
}

.footer img {
    width: 75px;
    padding-bottom: 8px;
}

.footer img:hover {
    opacity: 85%;
}

.first 
{
    font-size: 50px;
    line-height: 40px;
    padding-top: 30px;
    padding-bottom: 10px;
}


