@font-face { 

    font-family: 'Speeday';
    src: url("Speeday-Bold-FFP.ttf");

    font-family: 'Snasm';
    src: url("Snasm-W00-Italic.ttf");

    font-family: 'Inter';
    src: url("Inter-ExtraBold.otf");

}


* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}


a:link {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    text-decoration: underline;
}

.navigation .navbar ul li a:active {
    text-decoration: underline;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.header {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    text-decoration: none !important;
}

.navigation {
    position: fixed;
    grid-column-start: 1;
    text-align: left;
    padding-left: 75px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 50px;
    font-family: 'HelveticaNeue-Bold';
    color: black;
    font-size: 20px;
}

ul {
    list-style-type: none;
    color: black;
}

h1 {
    font-family: 'SnasmW00-Italic';
    text-decoration: none !important;
    font-size: 40px;
}

.container {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
}

.container table {
    padding: 25px;
    text-align: left;
}

table th {
    background-color: green;
    color: white;
    padding: 5px;
}

table td {
    border: 1px solid pink;
    padding: 5px 5px;
}

table tr:nth-child(even) {
    background-color: orange;
    color: darkblue;
}

table tr:nth-child(odd) {
    background-color: green;
    color: white;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    float: bottom;
    grid-row-start: 6;
    font-family: 'HelveticaNeue-Bold';
    padding-bottom: 15px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: grey;
}

.footer img {
    width: 75px;
    padding-bottom: 8px;
}

.footer img:hover {
    opacity: 85%;
}

