ul{
 
    text-align: center;
    
}
    
    ul li {

    list-style-type: none;
    padding: 25px;
    margin: auto;
    border-style: none;
    display: inline-block;
    color: black;
    text-align: center;
}

