a {

    text-decoration: none;
}



ul{
 
    text-align: center;    
}
    
ul li {

    font-family: 'Helvetica Neue';
    font-weight: bold;
    list-style-type: none;
    text-decoration: none;
    padding: 25px;
    margin: auto;
    border-style: none;
    display: inline-block;
    color: black;
    text-align: center;
}

