
@font-face { 

    font-family: 'Speeday';
    src: url("Speeday-Bold-FFP.ttf");

    font-family: 'Snasm';
    src: url("Snasm-W00-Italic.ttf");

    font-family: 'Inter';
    src: url("Inter-ExtraBold.otf");

}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

a:active {
    text-decoration: underline;
}

.navigation .navbar ul li a:active {
    text-decoration: underline;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.header {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    text-decoration: none !important;
}

.navigation {
    position: fixed;
    grid-column-start: 1;
    text-align: left;
    padding-left: 75px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 50px;
    font-family: 'HelveticaNeue-Bold';
    color: black;
    font-size: 20px;
}

ul {
    list-style-type: none;
    color: black;
}

h1 {
    font-family: 'SnasmW00-Italic';
    text-decoration: none !important;
    font-size: 40px;
}

.container {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    grid-row-start: 3;
}

.container h2 {
    font-family: 'Arial Black';
    letter-spacing: -2px;
    font-size: 48px;
    text-align: center;
}


.container h3 {
    font-family: 'Arial Black';
    font-size: 35px;
    letter-spacing: -1px;
    text-align: center;
}

.container h4 {
    font-family: 'Arial Black';
    font-size: 25px;
    letter-spacing: -1px;
    text-align: center;
}

h5 {
    font-family: 'Arial';
    font-size: 15px;
    letter-spacing: -1px;
    text-align: center;
    color: black;
}

.container .text h2 {
    color: black;
    font-size: 45px;
    padding-bottom: none;
}

.container .text h5 {
    color: #2c2151;
    font-size: 25px;
    font-family: 'Arial Black';
    line-height: 40px;
    text-align: justify;
    text-align-last: center;
    padding-bottom: none;
}

.container .text p {
    text-align: center;
    padding-top: none;
    font-family: "HelveticaNeue-Bold";
    font-size: 18px;
    padding-bottom: 25px;
}


.gallerytext {
    padding-top: 50px;
    float: bottom;
    padding-bottom: none;
}

.gallerytext p {
    font-family: 'HelveticaNeue-Bold';
    font-size: 20px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #8f53e5;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    float: bottom;
    grid-row-start: 6;
    font-family: 'HelveticaNeue-Bold';
    padding-bottom: 15px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: grey;
}

.footer img {
    width: 75px;
    padding-bottom: 8px;
}

.footer img:hover {
    opacity: 85%;
}
