body {
  background-color: #e5e5e5;
}


h1 {
    color: midnightblue;
  }


h3 {
  color: 
}


p {
    color: black;
  }



.footer {
  position: fixed;
  width: 100%;
  color: maroon;
  text-align: center;
}