@charset "UTF-8";

@font-face { 

    font-family: Speeday;
    src: url("Speeday-Bold-FFP.ttf");

    font-family: Snasm;
    src: url("SnasmW00-Italic.ttf");

}

@media screen and (max-width:800px) { 
    body { 
        background-color: #f5f5f5;
    } 
  }
  @media screen and (max-width:350px) { 
    body { 
        background-color: #f5f5f5;
    } 
  }   


@media screen {

}
    
* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5% 10% 70% 15%;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    background-color: #f5f5f5;

}

.header {
    grid-area: Header;
    text-align: center;
    color: black;
    padding-top: 0px;
    text-decoration: none;
}

h1 {
    font-family: 'SnasmW00-Italic';
    text-align: center;
    font-size: 70px; 
    padding: 20px;
    color: black;
    stroke: 1px;
}

.navigation {
    padding-top: 25px;
    text-align: center;
    font-size: 500%;
    text-decoration: none !important;
    display: block;
    color: black;
    padding: 10px;
    line-height: 70px;

}

.container ul li a {
    color: black;
}

.container ul li:nth-child(1) a {
    color: #c297ff;
}

.container ul li:nth-child(2) a {
    color: #2d6644;
}

.container ul li:nth-child(3) a {
    color: #0068b5;
}

.container ul li:nth-child(4) a {
    color: #ffc300;
}

li {
    list-style-type: none;
    font-family: 'Speeday';
    text-align: center;
    display: block;
}

.text {
    font-family: "HelveticaNeue-Bold";
    padding: 25px;
}


.footer {
    grid-column-start: 2;
    grid-column-end: 5;
    text-align: center;
    padding-top: 50px;
    float: bottom;
    grid-row-start: 6;
    font-family: 'HelveticaNeue-Bold';
    padding-bottom: 15px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: grey;
}

.footer img {
    width: 50px;
    padding-bottom: 8px;
}

.footer img:hover {
    opacity: 85%;
}