@font-face { 
    font-family: Speeday;
    src: url("Speeday-Bold-FFP.ttf");

    font-family: Snasm;
    src: url("SnasmW00-Italic.ttf");

}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none !important;
}

body {
    background-color: white;    
}

a:link {
    text-decoration: none;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: grey;
}

.header {
    margin-top:2.5vh;
    grid-column-start: 2;
    text-align: center;
    padding-top: 30.5px;
    text-decoration: none !important;
    color: green;
}

.navigation {
    position: fixed;
    grid-column-start: 1;
    text-align: left;
    padding-left: 75px;
    text-decoration: none;
    list-style-type: none;
    padding-top: 30.5px;
    font-family: 'HelveticaNeue-Bold';
    mix-blend-mode: difference;
    font-size: 20px;
    z-index: 100;
}

ul {
    list-style-type: none;
}

.navigation a {
    color: white;
}

.navigation a:hover {
    color: grey;
}

.header {
    margin-top:2.5vh;
    grid-column-start: 2;
    text-align: center;
    padding-top: 30.5px;
    text-decoration: none !important;
    color: green;
}

h1 {
    font-family: 'SnasmW00-Italic';
    text-decoration: none !important;
    font-size: 40px;
    padding-bottom: none;
}

h5 {
    font-family: 'Arial-Black';
    font-size: 15px;
    text-align: center;
    padding-top: 0px;
    letter-spacing: -1px;
}

.text {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.text h2 {
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: 'Arial-Black';
    font-size: 45px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 50px;
    color: black;
    padding-top: 55px;
    padding-bottom: none;
}

.text h3 {
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: 'Arial-Black';
    font-size: 30px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    letter-spacing: -1px;
    line-height: 35px;
    color: rgb(158, 158, 158);
}

.gallerytext {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.gallerytext h1 {
    grid-column-start: 3;
    grid-column-end: 7;
    font-family: 'HelveticaNeue-Bold';
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
    line-height: 42px;
}

.gallerytext p {
    font-family: 'HelveticaNeue-Medium';
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 25px;
    letter-spacing: 0px;
    grid-column-start: 3;
    grid-column-end: 7;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5vw;
    padding-left:20vw;
    padding-right:20vw;
    padding-bottom: 65px;
    margin: none;
    padding-top: 20px;

}

.gallery img {
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.aphex {
    padding-top: 50px;

}

.aphex img {
    margin: auto;
    padding-bottom: 20px;
    height: 25%;
    width: 25%;
}

.warhol img {
    width: 50%;
    height: 50%;
    padding-top: none;
    padding-bottom: none;
}

.footer {
    grid-column-start: 2;
    text-align: center;
    float: bottom;
    grid-row-start: 6;
    font-family: 'HelveticaNeue-Bold';
    padding-bottom: 50px;
}

.footer a {
    color: black;
}

.footer a:hover {
    color: grey;
}

.footer img {
    width: 75px;
    padding-bottom: 8px;
}

.footer img:hover {
    opacity: 85%;
}